<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />

        <title>19BURGER TABLE</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />


        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect" />
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
        />

        <!-- Vendor CSS Files -->
        <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/images/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet" />

        <!-- Template Main CSS File -->
        <link th:href="@{/css/style.css}" rel="stylesheet" />

    </head>

    <body>
        <!-- 공통 해더 -->
        <div th:replace="~{/components/header :: header}"></div>
        <!-- 공통 사이드 바 -->
        <div th:replace="~{/components/sidebar :: sidebar}"></div>



        <!-- ======= Main ======= -->
        <main id="main" class="main">
            <div class="container">
                <h3 class="col-11 p-0">매출 리스트</h3>
                <div class="container">
                    <div class="dropdown mt-3">
                        <button class="btn btn-sm btn-secondary dropdown-toggle"
                                type="button"
                                id="filterDropdown"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            필터
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                            <li><a class="dropdown-item" href="#">오늘</a></li>
                            <li><a class="dropdown-item" href="#">이번 주</a></li>
                            <li><a class="dropdown-item" href="#">이번 달</a></li>
                            <li><a class="dropdown-item" href="#">올해</a></li>
                        </ul>
                    </div>
                    <div class="row d-flex justify-content-between align-items-center mb-3">
                        <div class="col-auto ps-3">
                            <b>전체매출 : </b>
                        </div>
                        <button type="button" class="btn btn-primary col-auto" onclick="location.href='/sales/salesInput'">매출 기록</button>
                    </div>
                </div>
                <div class="card p-2">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">호점</th>
                                <th scope="col">글쓴이</th>
                                <th scope="col">날짜</th>
                                <th scope="col">카드매출(포스)</th>
                                <th scope="col">현금매출</th>
                                <th scope="col">소셜매출</th>
                                <th scope="col">합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="sale : ${salesLogList}">
                                <tr th:attr="data-pk=${sale.salesId}" onclick="getSalesLog(this)" data-bs-toggle="modal" data-bs-target="#salesModal">
                                    <th scope="row">1</th>
                                    <td th:text="${sale.user != null ? sale.user.name : '사용자 없음'}">NAME</td>
                                    <td th:text="${#dates.format(sale.salesDate, 'yyyy-MM-dd')}">0000-00-00</td>
                                    <td th:text="'₩ ' + ${sale.cardSales}">₩ 0</td>
                                    <td th:text="'₩ ' + ${sale.cashSales}">₩ 0</td>
                                    <td th:text="'₩ ' + ${sale.socialSales}">₩ 0</td>
                                    <td th:text="'₩ ' + ${sale.totalSales}">₩ 0</td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>

                    <!-- 페이지네이션 -->
<!--                    <div class="d-flex justify-content-center">-->
<!--                        <ul class="pagination mb-0">-->
<!--                            <li class="page-item">-->
<!--                                <a class="page-link" th:if="${salesLogPageDTO.hasPrevious}" th:href="@{/salesLog(page=${salesLogPageDTO.currentPage - 1})}">&lt;</a>-->
<!--                            </li>-->
<!--                            <li class="page-item">-->
<!--                                <a class="page-link" th:if="${salesLogPageDTO.currentPage + 1}" href="#">1</a>-->
<!--                            </li>-->
<!--                            <li class="page-item"><a class="page-link" href="#">&gt;</a></li>-->
<!--                        </ul>-->
<!--                    </div>-->

                    <!-- 페이지네이션 -->
                    <div class="d-flex justify-content-center">
                        <ul class="pagination mb-0">
                            <!-- 이전 10개 묶음으로 이동 -->
                            <li class="page-item" th:if="${salesLogPageDTO.currentPage >= 10}">
                                <a class="page-link" th:href="@{/sales/salesLog(page=${T(java.lang.Math).max(0, (salesLogPageDTO.currentPage / 10 - 1) * 10)})}">&lt;</a>
                            </li>

                            <!-- 현재 페이지 집합 (10개씩 고정) -->
                            <li class="page-item"
                                th:each="i : ${#numbers.sequence((salesLogPageDTO.currentPage / 10) * 10, T(java.lang.Math).min((salesLogPageDTO.currentPage / 10 + 1) * 10 - 1, salesLogPageDTO.totalPages - 1))}"
                                th:classappend="${i == salesLogPageDTO.currentPage} ? 'active'">
                                <a class="page-link" th:href="@{/sales/salesLog(page=${i})}" th:text="${i + 1}">1</a>
                            </li>

                            <!-- 다음 10개 묶음으로 이동 -->
                            <li class="page-item" th:if="${(salesLogPageDTO.currentPage / 10 + 1) * 10 < salesLogPageDTO.totalPages}">
                                <a class="page-link" th:href="@{/sales/salesLog(page=${(salesLogPageDTO.currentPage / 10 + 1) * 10})}">&gt;</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- 모달 구조 -->
            <div id="salesModal" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg"  role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">매출 상세 기록</h5>
                        </div>
                        <div class="modal-body">
                            <p id="modal-content">
                                <div class="container">
                                    <div class="container row">
                                        <div id="sales-input" class="row">

                                                <!-- 카드매출 -->
                                                <div class="col-12 col-lg-6">
                                                    <label class="my-2" for="cardSales">카드매출</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">₩</span>
                                                        <input type="text" id="cardSales" name="cardSales" class="form-control" readonly>
                                                        <span class="input-group-text">원</span>
                                                    </div>
                                                </div>

                                                <!-- 현금매출 -->
                                                <div class="col-12 col-lg-6">
                                                    <label class="my-2" for="cashSales">현금매출</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">₩</span>
                                                        <input type="text" id="cashSales" name="cashSales" class="form-control" readonly>
                                                        <span class="input-group-text">원</span>
                                                    </div>
                                                </div>

                                                <!-- 간편결제 -->
                                                <div class="col-12 col-lg-6">
                                                    <label class="my-2" for="simpleSales">간편결제</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">₩</span>
                                                        <input type="text" id="simpleSales" name="simpleSales" class="form-control" readonly>
                                                        <span class="input-group-text">원</span>
                                                    </div>
                                                </div>

                                                <!-- 배달의 민족 -->
                                                <div class="col-12 col-lg-6">
                                                    <label class="my-2" for="baeminSales">배달의 민족</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">₩</span>
                                                        <input type="text" id="baeminSales" name="baeminSales" class="form-control" readonly>
                                                        <span class="input-group-text">원</span>
                                                    </div>
                                                </div>

                                                <!-- 쿠팡이츠 -->
                                                <div class="col-12 col-lg-6">
                                                    <label class="my-2" for="coupangSales">쿠팡이츠</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">₩</span>
                                                        <input type="text" id="coupangSales" name="coupangSales" class="form-control" readonly>
                                                        <span class="input-group-text">원</span>
                                                    </div>
                                                </div>

                                                <!-- 요기요 -->
                                                <div class="col-12 col-lg-6">
                                                    <label class="my-2" for="yogiyoSales">요기요</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">₩</span>
                                                        <input type="text" id="yogiyoSales" name="yogiyoSales" class="form-control" readonly>
                                                        <span class="input-group-text">원</span>
                                                    </div>
                                                </div>

                                                <!-- 네이버 -->
                                                <div class="col-12 col-lg-6">
                                                    <label class="my-2" for="naverSales">네이버</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">₩</span>
                                                        <input type="text" id="naverSales" name="naverSales" class="form-control" readonly>
                                                        <span class="input-group-text">원</span>
                                                    </div>
                                                </div>

                                                <!-- 땡겨요 -->
                                                <div class="col-12 col-lg-6">
                                                    <label class="my-2" for="tanyoSales">땡겨요</label>
                                                    <div class="input-group mb-3">
                                                        <span class="input-group-text">₩</span>
                                                        <input type="text" id="tanyoSales" name="tanyoSales" class="form-control" readonly>
                                                        <span class="input-group-text">원</span>
                                                    </div>
                                                </div>

                                                <div class="container">
                                                    <hr>
                                                </div>

                                                <!-- 총 매출 -->
                                                <p class="my-2 fs-5 fw-bold mb-2 ms-1">합계</p>
                                                <div class="d-flex align-items-center ms-2">
                                                    <img th:src="@{/images/svg/total-money.svg}" width="20" height="20" alt="totalMoney" class="me-2">
                                                    <span class="fs-5 fw-bold me-2">₩</span>
                                                    <span id="totalSales" class="fs-5 fw-bold">0</span>
                                                    <span class="fs-5 fw-bold ms-2">원</span>
                                                </div>

                                                <div class="container">
                                                    <hr>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </p> <!-- 데이터를 여기에 표시 -->
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- End #main -->


        <!-- 공통 푸터 -->
        <div th:replace="~{/components/footer :: footer}"></div>

        <!-- 최상단 이동 버튼 -->
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>


        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

        <!-- Vendor JS Files -->
        <script th:src="@{/js/apexcharts/apexcharts.min.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/chart.js/chart.umd.js}"></script>

        <!-- Template Main JS File -->
        <script th:src="@{/js/main.js}"></script>
        <script th:src="@{/js/sales/modalSalesLog.js}"></script>

    </body>
</html>
