<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />

        <title>19BURGER TABLE</title>
        <meta content="" name="description" />
        <meta content="" name="keywords" />


        <!-- Google Fonts -->
        <link href="https://fonts.gstatic.com" rel="preconnect" />
        <link
            href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
            rel="stylesheet"
        />

        <!-- Vendor CSS Files -->
        <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
        <link th:href="@{/images/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet" />

        <!-- Template Main CSS File -->
        <link th:href="@{/css/style.css}" rel="stylesheet" />

    </head>

    <body>
        <!-- 공통 해더 -->
        <div th:replace="~{/components/header :: header}"></div>
        <!-- 공통 사이드 바 -->
        <div th:replace="~{/components/sidebar :: sidebar}"></div>



        <!-- ======= Main ======= -->
        <main id="main" class="main">
            <div class="container">
                <h3>매출 기록</h3>
                <div class="container">
                    <div class="dropdown mt-3">
                        <button class="btn btn-sm btn-secondary dropdown-toggle"
                                type="button"
                                id="filterDropdown"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            필터
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                            <li><a class="dropdown-item" href="#">오늘</a></li>
                            <li><a class="dropdown-item" href="#">이번 주</a></li>
                            <li><a class="dropdown-item" href="#">이번 달</a></li>
                            <li><a class="dropdown-item" href="#">올해</a></li>
                        </ul>
                    </div>
                    <div class="row d-flex justify-content-between align-items-center mb-3">
                        <div class="col-auto ps-3">
                            <b>전체매출 : </b>
                        </div>
                        <button type="button" class="btn btn-primary col-auto" onclick="location.href='/sales/salesInput'">매출 기록</button>
                    </div>
                </div>
                <div class="card p-2">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">번호</th>
                                <th scope="col">글쓴이</th>
                                <th scope="col">날짜</th>
                                <th scope="col">카드매출(포스)</th>
                                <th scope="col">현금매출</th>
                                <th scope="col">외부매출</th>
                                <th scope="col">합계</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>점장(임민규)</td>
                                <td>2024-11-02</td>
                                <td>₩ 200,000</td>
                                <td>₩ 200,000</td>
                                <td>₩ 200,000</td>
                                <td>₩ 400,000</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>점장(임민규)</td>
                                <td>2024-11-02</td>
                                <td>₩ 200,000</td>
                                <td>₩ 200,000,000,000</td>
                                <td>₩ 200,000</td>
                                <td>₩ 400,000,000</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>점장(임민규)</td>
                                <td>2024-11-02</td>
                                <td>₩ 200,000</td>
                                <td>₩ 200,000</td>
                                <td>₩ 200,000</td>
                                <td>₩ 400,000</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="d-flex justify-content-center">
                        <ul class="pagination mb-0">
                            <li class="page-item"><a class="page-link" href="#">&lt;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>

        <!-- End #main -->


        <!-- 공통 푸터 -->
        <div th:replace="~{/components/footer :: footer}"></div>

        <!-- 최상단 이동 버튼 -->
        <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
            <i class="bi bi-arrow-up-short"></i>
        </a>

        <!-- Vendor JS Files -->
        <script th:src="@{/js/apexcharts/apexcharts.min.js}"></script>
        <script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/js/chart.js/chart.umd.js}"></script>

        <!-- Template Main JS File -->
        <script th:src="@{/js/main.js}"></script>
    </body>
</html>
