<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>19BURGER TABLE</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"
  />

  <!-- Vendor CSS Files -->
  <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/images/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<!-- 공통 해더 -->
<div th:replace="~{components/header :: header}"></div>
<!-- 공통 사이드 바 -->
<div th:replace="~{components/sidebar :: sidebar}"></div>



<!-- ======= Main ======= -->
<main id="main" class="main">
  <div class="container">
    <h3 class="col-11 p-0">재고 현황</h3>
    <div class="container">
      <div class="row d-flex justify-content-between align-items-center mb-3">
        <div class="dropdown col-auto">
          <button class="btn btn-sm btn-secondary dropdown-toggle"
                  type="button"
                  id="filterDropdown"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            카테고리
          </button>
          <ul class="dropdown-menu" aria-labelledby="filterDropdown">
            <li><a class="dropdown-item" th:href="@{/ingredient/list(category=)}">전체</a></li>
            <th:block th:each="category : ${categoryList}">
              <li><a class="dropdown-item" th:href="@{/ingredient/list(category=${category})}" th:text="${category}"></a></li>
            </th:block>
          </ul>
        </div>
      </div>
    </div>

    <!-- 재고 리스트 (card) -->
    <div class="container">

      <div class="row">
        <th:block th:each="inventory : ${inventory.items}">
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title fw-bold" th:text="${inventory.ingredient.name}">양배추</h4>

                <div class="container p-0 mt-0">
                  <hr>
                </div>

                <div class="row mb-2">
                  <div class="col-6 fw-bold text-start">카테고리 :</div>
                  <div class="col-6 text-start" th:text="${inventory.ingredient.category}">채소</div>
                </div>
                <div class="row">
                  <div class="col-6 fw-bold text-start">재고 :</div>
                  <div class="col-6 text-start" th:text="${inventory.totalQuantity}">1,000 <span th:text="${inventory.ingredient.unit}">g</span></div>
                </div>
              </div>
            </div>
          </div>
        </th:block>
      </div>


    </div>

  </div>
</main>
<!-- End #main -->


<!-- 공통 푸터 -->
<div th:replace="~{components/footer :: footer}"></div>

<!-- 최상단 이동 버튼 -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Vendor JS Files -->
<script th:src="@{/js/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>

<script th:src="@{/js/ingredient/ingredientAdd.js}"></script>
<script th:src="@{/js/ingredient/ingredientGet.js}"></script>
<script th:src="@{/js/ingredient/ingredientUpdate.js}"></script>


</body>
</html>
