<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar" th:fragment="sidebar"  xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/}">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <!-- End Dashboard Nav -->

        <!-- 매출/지출 기록-->
        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-bar-chart"></i>
                <span>매출/지출 기록</span>
                <i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                <li>
                    <a th:href="@{/sales/salesLog}">
                        <i class="bi bi-circle"></i>
                        <span>매출 기록</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/}">
                        <i class="bi bi-circle"></i>
                        <span>지출 기록</span>
                    </a>
                </li>
            </ul>
        </li>
        <!-- End 매출/지출 기록 -->

        <li class="nav-heading">Pages</li>

        <li class="nav-item">
            <div sec:authorize="isAnonymous()">
                <a class="nav-link collapsed" th:href="@{/login}">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>로그인</span>
                </a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a class="nav-link collapsed" th:href="@{/logout}">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>로그아웃</span>
                </a>
            </div>
        </li>
        <!-- End Login Page Nav -->
    </ul>
</aside>
<!-- End Sidebar-->