<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>19BURGER TABLE</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />


  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect" />
  <link
          href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet"
  />

  <!-- Vendor CSS Files -->
  <link th:href="@{/css/bootstrap/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/images/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet" />

  <!-- Bootstrap Datepicker CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <link th:href="@{/css/sales/datepicker.css}" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<!-- 공통 해더 -->
<div th:replace="~{components/header :: header}"></div>
<!-- 공통 사이드 바 -->
<div th:replace="~{components/sidebar :: sidebar}"></div>



<!-- ======= Main ======= -->
<main id="main" class="main">
  <div class="container">
    <h3 class="col-11 p-0">재료 구매 리스트</h3>
    <div class="container">
      <div class="row d-flex justify-content-between align-items-center mb-3">
        <div class="dropdown col-auto">
          <button class="btn btn-sm btn-secondary dropdown-toggle"
                  type="button"
                  id="filterDropdown"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            카테고리
          </button>
          <ul class="dropdown-menu" aria-labelledby="filterDropdown">
            <li><a class="dropdown-item" th:href="@{/ingredientPrice/list(category=)}">전체</a></li>
            <th:block th:each="category : ${categoryList}">
              <li><a class="dropdown-item" th:href="@{/ingredientPrice/list(category=${category})}" th:text="${category}"></a></li>
            </th:block>
          </ul>
        </div>
        <a class="btn btn-primary col-auto" data-bs-toggle="modal" data-bs-target="#ingredientPrice-Modal">재료 구매 리스트 추가</a>
      </div>
    </div>

    <div class="card p-2">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th scope="col">재료이름</th>
            <th scope="col">구매 수량</th>
            <th scope="col">구매일자</th>
            <th scope="col">공급업체</th>
            <th scope="col">총구매가격</th>
          </tr>
          </thead>
          <tbody>
          <th:block th:each="ingredientPrice : ${ingredientPrice.items}">
            <tr th:attr="data-id=${ingredientPrice.id}" onclick="ingredientFieldGet(this)" data-bs-toggle="modal" data-bs-target="#ingredientPrice-Modal">
              <td th:text ="${ingredientPrice.inventory.ingredient.name}"></td>
              <td th:text="${#numbers.formatInteger(ingredientPrice.totalQuantity, '0', 'COMMA')} + ${ingredientPrice.inventory.ingredient.unit}"></td>
              <td th:text="${#temporals.format(ingredientPrice.priceDate, 'yyyy-MM-dd')}"></td>
              <td th:text="${ingredientPrice.supplier}"></td>
              <td th:text="${#numbers.formatInteger(ingredientPrice.totalPrice, '0', 'COMMA')}"></td>
            </tr>
          </th:block>
          </tbody>
        </table>

        <!-- 재료추가 모달 -->
        <div id="ingredientPrice-Modal" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-xl"  role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">재료 구매 리스트 추가</h5>
              </div>
              <div class="modal-body">
                <div id="modal-content">
                  <div class="container">
                    <div class="container row">

                      <div id="ingredientPrice-input" class="row modalIngredientPriceData" data-index="1">

                        <!-- 재료 카테고리 선택 -->
                        <div class="col-6 col-md-6 col-lg-auto">
                          <label class="my-2" for="ingredient-category">카테고리</label>
                          <div class="input-group mb-3">
                            <button id="ingredient-category" class="ingredient-category btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              선택
                            </button>
                            <ul class="dropdown-menu">
                              <li>
                                <th:block th:each="category : ${categoryList}">
                                  <button class="dropdown-item" th:text="${category}" onclick="ingredientListGet(this)"></button>
                                </th:block>
                              </li>
                            </ul>
                          </div>
                        </div>

                        <!-- 재료 선택 -->
                        <div class="col-6 col-md-6 col-lg-auto">
                          <label class="my-2" for="ingredient">재료</label>
                          <div class="input-group mb-3">
                            <button id="ingredient" class="ingredient btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              선택
                            </button>
                            <ul class="dropdown-menu ingredient-names">
                              <li><button class="dropdown-item">카테고리 선택</button></li>
                            </ul>
                          </div>
                        </div>

                        <!-- 구매수량 선택 -->
                        <div class="col-12 col-md-6 col-lg-2">
                          <label class="my-2" for="total-quantity">구매수량</label>
                          <div class="input-group input-group-sm mb-3">
                            <input type="text" id="total-quantity" name="totalQuantity" class="total-quantity form-control text-end">
                            <span class="input-group-text ingredient-unit">-</span>
                          </div>
                        </div>

                        <!-- 구매 일자 선택 -->
                        <div class="col-12 col-md-6 col-lg-2">
                          <label class="my-2" for="price-date">구매 일자</label>
                          <div class="input-group input-group-sm mb-3">
                            <input type="text" id="price-date" name="priceDate" class="price-date form-control text-end">
                          </div>
                        </div>

                        <!-- 공급업체 -->
                        <div class="col-12 col-md-6 col-lg-auto">
                          <label class="my-2" for="supplier">공급 업체</label>
                          <div class="input-group input-group-sm mb-3">
                            <input type="text" id="supplier" name="supplier" class="supplier form-control text-end">
                          </div>
                        </div>

                        <!-- 구매 가격 -->
                        <div class="col-12 col-md-6 col-lg-auto">
                          <label class="my-2" for="total-price">구매 가격</label>
                          <div class="input-group input-group-sm mb-3">
                            <input type="text" id="total-price" name="total-price" class="total-price form-control text-end">
                            <span class="input-group-text">원</span>
                          </div>
                        </div>

                        <hr>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <div sec:authorize="isAuthenticated()">
                  <button id="ingredientPrice-update-btn" type="button" class="btn btn-success d-none">수정</button>
                  <button id="ingredientPrice-add-btn" type="button" class="btn btn-success">행 추가</button>
                  <button id="ingredientPrice-save-btn" type="button" class="btn btn-primary">저장</button>
                </div>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- 페이지네이션 -->
      <div class="d-flex justify-content-center" th:if="${ingredientPrice.totalPages > 0}">
        <ul class="pagination pagination-success mb-0">
          <!-- 이전 10개 묶음으로 이동 -->
          <li class="page-item" th:if="${ingredientPrice.pagination.hasPreviousGroup}">
            <a class="page-link" th:href="@{/ingredientPrice/list(page=${ingredientPrice.pagination.startPage - 2}, category=${category})}">&lt;</a>
          </li>

          <!-- 현재 페이지 집합 (10개씩 고정) -->
          <li class="page-item"
              th:each="i : ${#numbers.sequence(ingredientPrice.pagination.startPage, ingredientPrice.pagination.endPage)}"
              th:classappend="${i == ingredientPrice.currentPage + 1} ? 'active'">
            <a class="page-link" th:href="@{/ingredientPrice/list(page=${i - 1}, category=${category})}" th:text="${i}"></a>
          </li>

          <!-- 다음 10개 묶음으로 이동 -->
          <li class="page-item" th:if="${ingredientPrice.pagination.hasNextGroup}">
            <a class="page-link" th:href="@{/ingredientPrice/list(page=${ingredientPrice.pagination.endPage}, category=${category})}">&gt;</a>
          </li>
        </ul>
      </div>
      <!-- 페이지네이션 끝 -->

    </div>
  </div>
</main>
<!-- End #main -->


<!-- 공통 푸터 -->
<div th:replace="~{components/footer :: footer}"></div>

<!-- 최상단 이동 버튼 -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
  <i class="bi bi-arrow-up-short"></i>
</a>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<!-- Vendor JS Files -->
<script th:src="@{/js/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/js/bootstrap/bootstrap.bundle.min.js}"></script>


<!-- Bootstrap Datepicker JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<!-- 한국어 로케일 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.ko.min.js"></script>


<!-- Template Main JS File -->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/ingredientPrice/datepicker.js}"></script>
<script th:src="@{/js/ingredientPrice/moneyFormatting.js}"></script>
<script th:src="@{/js/ingredientPrice/ingredientPriceGroupAdd.js}"></script>
<script th:src="@{/js/ingredientPrice/ingredientPriceModal.js}"></script>

<script th:src="@{/js/ingredientPrice/ingredientPriceGet.js}"></script>
<script th:src="@{/js/ingredientPrice/ingredientPriceAdd.js}"></script>
<script th:src="@{/js/ingredientPrice/ingredientPriceUpdate.js}"></script>






</body>
</html>
